---
import Layout from '@layouts/Landing.astro'
import Dashboard from '@components/Dashboard/Dashboard.svelte'
import WithFrapper from '@components/Dashboard/WithFrapper.svelte'
import Basic from '@components/Dashboard/Basic.svelte'
---

<Layout>
  <div>
    <Basic client:load />
    <WithFrapper client:load />
  </div>
</Layout>
