---
import Layout from '@layouts/Landing.astro'
import Dashboard from '@components/Dashboard/Dashboard.svelte'
import WithFrapper from '@components/Dashboard/WithFrapper.svelte'
---

<script>
  const fetchUserClubs = async () => {
    const res = await fetch('/api/stats', {
      method: 'POST'
    })
    return res.json();
  }
  const res2 = await fetchUserClubs().then((res) => res)
  console.log('result = >', await res2)
</script>
<Layout>
  <div class="relative justify-center">
    <div class="">
      <Dashboard client:only />
      <WithFrapper client:only />
    </div>
  </div>
</Layout>
